<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}"></h1>

<span th:text="${usuario.nombre}"></span>
<span th:text="${usuario.apellido}"></span>
<br>
<!--Condicional para mostrar un texto si existe la propiedad-->
<!--	en el objeto-->
<span 
	th:if="${usuario.email}" 
	th:text="${usuario.email}"></span>
<!-- Caso contrario de que no exista dicha propiedad -->
<!-- mostrar dicho texto -->
<span 
	th:if="${usuario.email == null}" 
	th:text="'El usuario no tiene correo electronico registrado con nosotros'"></span>
</body>
</html>